*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

.header {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.header-main-title {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: #F9FAF8;
}

.links {
  display: flex;
  gap: 16px;
  color: #7d7e80;
}

.background-wrapper-call-to-action {
  display: flex;
  justify-content: center;
  background-color: #3882F6;
  border-radius: 5px;
  margin: 50px 0;
}

.wrapper-header,
.wrapper-call-to-action {
  justify-content: space-between;
}

.wrapper-main-title {
  margin: 100px 0;
  gap: 20px;
}

.wrapper-header,
.wrapper-main-title,
.background-wrapper-call-to-action {
  display: flex;
  width: 65%;
}

.wrapper-call-to-action,
.wrapper-quote,
.wrapper-main-content {
  width: 52%;
  display: flex;
}

.wrapper-call-to-action {
  padding: 35px 0;
  width: 80%;
  color: #F9FAF8;
  display: flex;
  justify-content: space-between;
}

.wrapper-quote {
  font-style: italic;
  margin: 70px 0;
  flex-direction: column;
  font-weight: 300;
  font-size: 36px;
}

.wrapper-main-content {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  gap: 30px;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.main-content {
  display: flex;
  justify-content: center;
}

.main-content-image {
  height: 150px;
  width: 150px;
  border: 2px solid #3882F6;
  border-radius: 10px;
}

.main-content-image-subtext {
  text-align: center;
}

.wrapper-main-content-pair {
  max-width: 150px;
  display: flex;
  flex-direction: column;
}

.quote-author {
  align-self: flex-end;
  font-weight: bold;
}

.quote {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
}

/* Important call */
.call-to-action-button {
  align-self: flex-end;
  border: 2px solid #F9FAF8 !important;
}

.left-title-text {
  min-width: 350px;
}

.left-title-text h1{
  font-size: 48px;
  font-weight: extra-bold;
}

.left-title-text p {
  font-size: 18px;
  color: #E5E7EB;
}

.left-title-sign-up-button,
.call-to-action-button {
  background-color: #3882F6;
  padding: 8px 24px;
  color: #F9FAF8;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

.left-title-sign-up-button:hover,
.call-to-action-button:hover {
  cursor: pointer;
}

.left-title-sign-up-button:hover {
  background-color: #285fb7;
}

.left-title-sign-up-button:active {
  background-color: #20498d;
}

.call-to-action-button:hover {
  background-color: #fff;
  color: #3882F6;
}

/* Important call */
.call-to-action-button:active {
  background-color: #d3d3d3;
  border-color: #d3d3d3 !important;
}

.right-title-image {
  background-color: #7d7e80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  display: flex;
  justify-content: center;
}

.footer {
  text-align: center;
  margin-top: auto;
  padding: 40px 0;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

.wrapper-one {
  width: 80%;
}